<?xml version="1.0"?>
<configuration>
<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
</appender>
<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${MICRONAUT_LOGGING_HOME:-target}/api.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>${MICRONAUT_LOGGING_HOME:-target}/api.log.%i</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>2</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>50KB</maxFileSize>
    </triggeringPolicy>
    <encoder>
        <pattern>[%d{"yyyy-MM-dd HH:mm:ss,SSSZ"}] [%p] [{"ident":"api","env":"${MICRONAUT_ENVIRONMENTS:-dev}"}] %m%n%C \(%L\)%n</pattern>
    </encoder>
</appender>
<root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="ROLLING" />
</root>
</configuration>